<div class="main_content">
    <div class="content_header">
        {{#each film}}
        <h1>{{this.title}}</h1>
        <p><span class="rating_span">Add review</span></p>
    </div>
    <div class="content_main">
        <div class="left_main">
            <img src="{{this.cover}}" width="80%">
        </div>
        <div class="right_main">
            <div class="info">
                <p><b>Release year</b>: {{this.year}}</p>
                
                <p><b>Cast</b>: {{#each cast}}{{this}}, {{/each}}</p>
            </div>
            <div class="info_2">
                <p><span class="watchlist_span">+ Watchlist</span></p>
                <p>Starring: {{"Starring rating"}}/10</p>
                <p>IMDb: {{this.rating}}/10</p>
            </div>
            
        </div>
    </div>
    <div class="content_footer">
        <div class="footer_tag">
            {{#each genres}}
            <p><span class="tag_span">{{this}}</span></p>
            {{/each}}
        </div>
        <div class="footer_description">
            <p>{{this.plot}}</p>
        </div>
    </div>
    <hr>
    {{/each}}
    <br>
</div>