<div>
    <div class="header_list">
        <div class="change_film">
            <p><span><i class="fa fa-angle-left"></i></span></p>
        </div>
        <div class="change_film">
            <p><span><i class="fa fa-angle-right"></i></span></p>
        </div>
    </div>
    
    <div class="film_list">
        <div class="film_list_title">
            <h3>Recommended</h3>
        </div>
        <div class="film_list_content">
            {{#each content_rec}}
            <a href="/film/{{this.id}}" title="{{this.title}}"><img src="img/{{this.id}}.jpg"></a>
            {{/each}}
        </div>
    </div>

    <div class="film_list">
        <div class="film_list_title">
            <h3>New releases</h3>
        </div>
        <div class="film_list_content">
            {{#each content_new}}
            <a href="/film/{{this.id}}" title="{{this.title}}"><img src="img/{{this.id}}.jpg"></a>
            {{/each}}
        </div>
    </div>
</div>